<h1><%= @category.name %></h1>
<% @category.questions.each do |question| %>
  <a href= "/categories/<%= @category.id%>/questions/<%= question.id %>"><%= question.title %></a><br>
  <% if session[:user_id] == question.user_id %>
    <form method='post' action="/categories/<%=@category.id%>/questions/<%=question.id%>">
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='delete'>
    </form>
  <% end %>
<% end %>
<% if session[:user_id] %>
  <form action="/categories/<%= @category.id %>" method="post" id="questform">
  Question: <input type="text" name="title">
    <input type="submit"><br>
  <textarea rows="4" cols="50" name="content"></textarea>
  </form>
<% end %>

